<header class="header axil-header header-style-1">

    <div class="axil-header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="header-top-dropdown">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                English
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">English</a></li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="header-top-link">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Mainmenu Area  -->
    <div id="axil-sticky-placeholder"></div>
    <div class="axil-mainmenu">
        <div class="container">
            <div class="header-navbar">
                <div class="header-brand">
                    <a href="/" class="logo logo-dark">
                        <img src="../images/logo/logo.png" alt="Site Logo">
                    </a>
                    <a href="/" class="logo logo-light">
                        <img src="../images/logo/logo-light.png" alt="Site Logo">
                    </a>
                </div>
                <div class="header-main-nav">
                    <!-- Start Mainmanu Nav -->
                    <nav class="mainmenu-nav">
                        <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                        <div class="mobile-nav-brand">
                            <a href="index-2.html" class="logo">
                                <img src="../images/logo/logo.png" alt="Site Logo">
                            </a>
                        </div>
                        <ul class="mainmenu">
                            <li class="menu-item-has-children">
                                <a href="/">Home</a>
                                
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Shop</a>
                                <ul class="axil-submenu">
                                    <li><a href="/products-page">all product</a></li>
                                    
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                    <!-- End Mainmanu Nav -->
                </div>
                <div class="header-action">
                    <ul class="action-list">
                        
                        <li class="wishlist">
                            <a href="/wishlist">
                                <i class="flaticon-heart"></i>
                            </a>
                        </li>
                        {{#if user}}
                        <li class="shopping-cart">
                            <a href="/cart" class="cart-dropdown-btn">
                                <span class="cart-count" id="cart-count"> {{cartCount}} </span>
                                <i class="flaticon-shopping-cart"></i>
                            </a>
                        </li>
                        {{/if}}
                        <li class="shopping-cart">
                            <a href="#" class="cart-dropdown-btn">
                                {{!-- <span class="cart-count">3</span> --}}


                            </a>
                        </li>
                        <li class="my-account">
                            <a href="javascript:void(0)">
                                <i class="flaticon-person"></i>
                            </a>


                            <div class="my-account-dropdown">
                                <span class="title">QUICKLINKS</span>
                                <ul>
                                    {{#if user}}
                                    <li>
                                        <a href="/my-account">My Account</a>
                                    </li>
                                    {{/if}}

                                    <li>
                                        <a href="#">Language</a>
                                    </li>
                                </ul>
                                {{#if user}}
                                <div class="login-btn">
                                    <a href="/logout" class="axil-btn btn-bg-primary">Logout</a>
                                </div>
                                {{else}}
                                <div class="login-btn">
                                    <a href="/login" class="axil-btn btn-bg-primary">Login</a>
                                </div>
                                {{/if}}


                                
                            </div>
                        </li>
                        <li class="axil-mobile-toggle">
                            <button class="menu-btn mobile-nav-toggler">
                                <i class="flaticon-menu-2"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
</header>